<h4><%= card.title %></h4>
<div id="data_card_chart_<%= card.id.to_s %>" class="data_card_chart" style="height:300px;"></div>
<p><%= raw card.source %></p>

<script type="text/javascript">
  (function($){
    // Set up data
    var cardData = <%= raw card.prepared_data(:json).to_json %>,
        cardAxes = ['<%=h card.group_by.to_s %>', '<%=h card.series.first.to_s if card.series.length == 1 %>'];

    // Draw chart after dom is loaded and libs are in
    $(function(){
      require([
        "/static/javascripts/datajam/datacard/xcharts-pack.js",
        "css!/static/stylesheets/datajam/datacard/xcharts.css"
      ], function(xChart){

        var tooltip = document.createElement('div'),
            leftOffset = -(~~$('html').css('padding-left').replace('px', '') + ~~$('body').css('margin-left').replace('px', '')),
            topOffset = -32;
        tooltip.className = 'ex-tooltip';
        document.getElementById('data_card_chart_<%= card.id.to_s %>').appendChild(tooltip);

        var data = function(){
          var data = {
                "xScale": "ordinal",
                "yScale": "linear",
                "main": []
              },
              fields = [],
              series = [];

          for(var i in cardData[0].series){
            fields.push(i);
          };

          $.each(cardData, function(i, row){
            var xVal = row.group;
            $.each(row.series, function(key, val){
              series[fields.indexOf(key)] ||
                (series[fields.indexOf(key)] = {
                  "className": '.' + key.toLowerCase().replace(/[^a-zA-Z0-9_]/g, '-'), "data": []
                });
              series[fields.indexOf(key)].data.push({x: row.group, y: val});
            });
          });
          data['main'] = series;
          return data;
        };

        var opts = {
          mouseover: function (d, i) {
            var pos = $(this).offset();
            $(tooltip).text(d.x + ': ' + d.y)
              .css({top: topOffset + pos.top, left: pos.left + leftOffset})
              .show();
          },
          mouseout: function (x) {
            $(tooltip).hide();
          }
        };

        var chart = new xChart('bar', data(), '#data_card_chart_<%= card.id.to_s %>', opts);

      });
    });
  })(jQuery);
</script>
