<%= simple_form_for [:admin, @card], html: { class: "form-horizontal" } do |f| %>
  <%= hidden_field_tag :type, "from_html" %>

  <%= f.input :title %>
  <%= f.input :tag_string, input_html: { class: "taggable" } %>

  <%= f.input :body, as: :text, label: "HTML for the data card", input_html: { class: "datajamTemplate", rows: 10, cols: 100 } %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
    <%= button_tag "Preview", value: "1", name: "preview", class: "btn-small", target: "_blank" %>
  </div>
<% end %>
