<%= simple_form_for [:admin, @card], html: { class: "form-horizontal" } do |f| %>

  <%= f.input :title %>
  <%= f.input :tag_string, input_html: { class: "taggable" } %>

  <% if @card.csv || @card.new_record? %>
  <fieldset>
    <legend>Use the default template</legend>

    <%= f.input :csv_file, as: :file, label: "Upload CSV File", hint: "File extension must be .csv" %>
    <%= f.input :csv, as: :text, label: "Or Enter Data", input_html: { class: "datajamTemplate rawData", rows: 10, cols: 100 } %>
    <%= f.input :source, as: :text, label: 'Source Attribution', input_html: { rows: 5, cols: 80 }, hint: "Can use HTML" %>
  </fieldset>
  <% end %>

  <% if @card.new_record? %>
  <fieldset>
    <legend>Use an API mapping</legend>

    <ul class="mappings">
      <%= render partial: "admin/cards_from_api_mapping/mapping", :collection => @mappings %>
    </ul>
  </fieldset>
  <% end %>

  <% if @card.body || @card.new_record? %>
  <fieldset>
    <legend>Or use your own HTML</legend>

    <%= f.input :body, as: :text, label: "HTML for the data card", input_html: { class: "datajamTemplate", rows: 10, cols: 100 } %>
  </fieldset>
  <% end %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
    <%= button_tag "Preview", value: "1", name: "preview", class: "btn-small", target: "_blank" %>
  </div>
<% end %>
