<h2>Data Card Preview</h2>

<%= simple_form_for [:admin, @card], html: { class: "form-horizontal" } do |f| %>
  <%= f.input :title, as: :hidden %>
  <%= f.input :tag_string, as: :hidden %>
  <%= f.input :csv, as: :hidden %>
  <%= f.input :source, as: :hidden %>
  <%= f.input :body, as: :hidden %>

  <div class="form-actions">
    <%= button_tag "Back to editing", value: "1", name: "back", class: "btn-primary", target: "_blank" %>
  </div>
<% end %>

<div class="well">
  <%= raw @card.render %>
</div>
