<h2>New data card</h2>

<% form_url = admin_mapping_response_cards_path(params[:mapping_id], @card.response.id) %>
<%= simple_form_for @card, url: form_url, html: { class: "form-horizontal" } do |f| %>
  <%= f.input :title %>
  <%= f.input :tag_string, input_html: { class: "taggable" } %>

  <fieldset>
    <legend>Selected fields</legend>

    <ul>
      <% @card.response_fields.each do |field| %>
        <li>
          <%= hidden_field_tag 'card[response_fields][]', field %>
          <%= field %>
        </li>
      <% end %>
    </ul>
  </fieldset>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
